@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&family=Rubik+Doodle+Shadow&display=swap');



body {
  margin: 0;
 
}

h1{
  font-family: "Rubik Doodle Shadow";
  word-spacing: 3px;
  letter-spacing: 4px;
  color:rgb(8, 47, 78);
  background-color: rgb(162, 163, 253);
  padding: 20px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
